table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #ff4081;
}

tr.example-element-row:not(.example-expanded-row):active {
  background:#ff4081;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
}

.mat-column-username {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 28% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-emailid {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 25% !important;
  width: 25% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-contactno {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 17% !important;
  width: 17% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-userimage {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-userActivity {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.checkIcon{
  cursor:pointer;
  transition: all 0.2s;
}
.checkIcon:hover{
  color: #9df092;
}
.checkIconGreen{
  color:#9df092;
}

::ng-deep .mat-form-field .mat-input-element {
  color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-label {
  color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-underline {
  background-color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-ripple {
  background-color: slategray;
}
::ng-deep .mat-form-field .mat-form-field-required-marker {
  color: slategray;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #ff4081;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #ff4081;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-required-marker {
  color: slategray;
}
::ng-deep .mat-form-field.mat-focused .mat-input-element {
  color: slategray;
}

