
<div class="row item-row">
  <section class="col-lg-4">
    <article class="product-container">
      <div class="product">
        <h4 class="product-title">Pannekoek spek</h4>
        <p class="Product-description">Heerlijke pannekoek met spekreepjes. Geserveerd met poedersuiker en stroop.</p>
      </div>
      <div class="product-img-price-container">
        <div class="price">
          <button value="1.50" (click)="addToCart(9, 'Klassieke pannekoek', 1.50)"  value="1.50" class="btn btn-primary btn-block order-product">€1,50</button>
        </div>
      </div>
    </article>
  </section>
  <section class="col-lg-4">
    <article class="product-container">
      <div class="product">
        <h4 class="product-title">Pannekoek spek</h4>
        <p class="Product-description">Heerlijke pannekoek met spekreepjes. Geserveerd met poedersuiker en stroop.</p>
      </div>
      <div class="product-img-price-container">
        <div class="price">
          <button value="1.50" class="btn btn-primary btn-block order-product">€1,50</button>
        </div>
      </div>
    </article>
  </section>
</div>

<div class="row item-row">
  <section class="col-lg-4">
    <article class="product-container">
      <div class="product">
        <h4 class="product-title">Pannekoek spek</h4>
        <p class="Product-description">Heerlijke pannekoek met spekreepjes. Geserveerd met poedersuiker en stroop.</p>
      </div>
      <div class="product-img-price-container">
        <div class="price">
          <button value="1.50"class="btn btn-primary btn-block order-product">€1,50</button>
        </div>
      </div>
    </article>
  </section>
  <section class="col-lg-4">
    <article class="product-container">
      <div class="product">
        <h4 class="product-title">Pannekoek spek</h4>
        <p class="Product-description">Heerlijke pannekoek met spekreepjes. Geserveerd met poedersuiker en stroop.</p>
      </div>
      <div class="product-img-price-container">
        <div class="price">
          <button value="1.50"class="btn btn-primary btn-block order-product">€1,50</button>
        </div>
      </div>
    </article>
  </section>
</div>

<div class="row item-row">
  <section class="col-lg-4">
    <article class="product-container">
      <div class="product">
        <h4 class="product-title">Pannekoek spek</h4>
        <p class="Product-description">Heerlijke pannekoek met spekreepjes. Geserveerd met poedersuiker en stroop.</p>
      </div>
      <div class="product-img-price-container">
        <div class="price">
          <button class="btn btn-primary btn-block order-product">€1,50</button>
        </div>
      </div>
    </article>
  </section>
  <section class="col-lg-4">
    <article class="product-container">
      <div class="product">
        <h4 class="product-title">Pannekoek spek</h4>
        <p class="Product-description">Heerlijke pannekoek met spekreepjes. Geserveerd met poedersuiker en stroop.</p>
      </div>
      <div class="product-img-price-container">
        <div class="price">
          <button value="1.50" class="btn btn-primary btn-block order-product">€1,50</button>
        </div>
      </div>
    </article>
  </section>
</div>
<div class="row item-row">
  <section class="col-lg-4">
    <article class="product-container">
      <div class="product">
        <h4 class="product-title">Pannekoek spek</h4>
        <p class="Product-description">Heerlijke pannekoek met spekreepjes. Geserveerd met poedersuiker en stroop.</p>
      </div>
      <div class="product-img-price-container">
        <div class="price">
          <button value="1.50"  class="btn btn-primary btn-block order-product">€1,50</button>
        </div>
      </div>
    </article>
  </section>
  <section class="col-lg-4">
    <article class="product-container">
      <div class="product">
        <h4 class="product-title">Pannekoek spek</h4>
        <p class="Product-description">Heerlijke pannekoek met spekreepjes. Geserveerd met poedersuiker en stroop.</p>
      </div>
      <div class="product-img-price-container">
        <div class="price">
          <button value="1.50" class="btn btn-primary btn-block order-product">€1,50</button>
        </div>
      </div>
    </article>
  </section>
</div>
