
.header{
  width:100%;
  height:100px;
  background-color: #ff4081;
}
.logo_topLeft{
  position: relative;
  z-index:2;
  float:left;
  padding: 20px 0 0 20px;

}
.logo_topLeft img{
  width: 200px;
  height: auto;
}

.menu_topRight{
  position: relative;
  z-index:2;
  float:right;
  padding: 30px 20px 0 0;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 9px;
  left: -50px;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle input
{
  display: block;
  width: 42px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -8px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 3; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 2;
  transform-origin: 4px 0px;
  transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */


#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}
#menuToggle input ~ span:nth-last-child(2){
  width:33px;
}
#menuToggle input ~ span:nth-last-child(3){
  width:22px;
}
#menuToggle input ~ span:nth-last-child(4){
  width:11px;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  width:33px;
  transform: rotate(-45deg) translate(0, -1px);
}
#menuToggle input:checked ~ span:nth-last-child(4)
{
  width:33px;
}

#menuToggle input:checked ~ .sidenav
{
  width: 140px;
}


.sidenav {
  height: 300px;
  margin-top:10px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #3e8ef7;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a.menu-items {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a.menu-items:hover {
  color: #ff4081!important;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



