/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Source Sans Pro';
  src: url('/assets/fonts/soursesan/SourceSansPro-ExtraLight.woff2') format('woff2'),
  url('/assets/fonts/soursesan/SourceSansPro-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/assets/fonts/soursesan/SourceSansPro-BlackItalic.woff2') format('woff2'),
  url('/assets/fonts/soursesan/SourceSansPro-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/assets/fonts/soursesan/SourceSansPro-Bold.woff2') format('woff2'),
  url('/assets/fonts/soursesan/SourceSansPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/assets/fonts/soursesan/SourceSansPro-Italic.woff2') format('woff2'),
  url('/assets/fonts/soursesan/SourceSansPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/assets/fonts/soursesan/SourceSansPro-SemiBold.woff2') format('woff2'),
  url('/assets/fonts/soursesan/SourceSansPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/assets/fonts/soursesan/SourceSansPro-LightItalic.woff2') format('woff2'),
  url('/assets/fonts/soursesan/SourceSansPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/assets/fonts/soursesan/SourceSansPro-Black.woff2') format('woff2'),
  url('/assets/fonts/soursesan/SourceSansPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/assets/fonts/soursesan/SourceSansPro-Light.woff2') format('woff2'),
  url('/assets/fonts/soursesan/SourceSansPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/assets/fonts/soursesan/SourceSansPro-ExtraLightItalic.woff2') format('woff2'),
  url('/assets/fonts/soursesan/SourceSansPro-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/assets/fonts/soursesan/SourceSansPro-BoldItalic.woff2') format('woff2'),
  url('/assets/fonts/soursesan/SourceSansPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/assets/fonts/soursesan/SourceSansPro-Regular.woff2') format('woff2'),
  url('/assets/fonts/soursesan/SourceSansPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/assets/fonts/soursesan/SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
  url('/assets/fonts/soursesan/SourceSansPro-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('/assets/fonts/baloo-2/Baloo2-SemiBold.woff2') format('woff2'),
  url('/assets/fonts/baloo-2/Baloo2-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('/assets/fonts/baloo-2/Baloo2-ExtraBold.woff2') format('woff2'),
  url('/assets/fonts/baloo-2/Baloo2-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('/assets/fonts/baloo-2/Baloo2-Bold.woff2') format('woff2'),
  url('/assets/fonts/baloo-2/Baloo2-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('/assets/fonts/baloo-2/Baloo2-Regular.woff2') format('woff2'),
  url('/assets/fonts/baloo-2/Baloo2-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('/assets/fonts/baloo-2/Baloo2-Medium.woff2') format('woff2'),
  url('/assets/fonts/baloo-2/Baloo2-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

body{
  margin:0;
  padding:0;
  background: #ededed;
  overflow-x: hidden;
}

html, body { height: 100%; font-family: 'Baloo 2', cursive; }
body { margin: 0; }

@-webkit-keyframes autofill {
  0%,100% {
    color: #666;
    background: white;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

.is-valid{
  color: #3e8ef7!important;
}

.is-invalid{
  color: red!important;
}

/*Change text in autofill textbox*/
input.is-valid:-webkit-autofill {
  -webkit-text-fill-color: #3e8ef7 !important;
}

input.is-invalid:-webkit-autofill {
  -webkit-text-fill-color: red !important;
}
